body {
    margin: 0;
    line-height: 1.25;

    font-family: "Atkinson Hyperlegible", sans-serif;
}

#top {
    position: absolute;
    top: 0;

    width: 100%;
    padding: 24px;
    box-sizing: border-box;

    background-color: #000000;
    color: #ffffff;

    cursor: default;
    user-select: none;
}

#top h1 {
    margin: 0;
    font-size: 24px;
}

#cont {
    padding: 126px 48px 48px 48px;
    
    display: flex;
    gap: 24px;
}

#cont > div {
    border: 2px solid #000000;
    
    padding: 12px;
}

input[type=text], input[type=number] {
    border: 1px solid #bbbbbb;
    padding: 4px;
    
    font-size: 12px;
    font-family: inherit;
    line-height: 1.25;
}

input:focus {
    border: 1px solid #66b8ff;
    outline: 1px solid #66b8ff;
}